<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/nav_styles.css') }}" type="text/css"/>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
